<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Lista de Tareas </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-grid>
    <ion-list>
      <ion-item *ngFor="let task of taskObjectArray">
        <ion-grid class="content-task">
          <ion-row class="ion-align-items-center">
            <ion-col size="2">
              <ion-checkbox
                [(ngModel)]="task.isChecked"
                checked="{{task.isChecked}}"
                (ionChange)="check(task)"
              >
              </ion-checkbox>
            </ion-col>
            <ion-col size="6">
              <p>{{task.title}}</p>
            </ion-col>
            <ion-col size="4">
              <p>{{task.taskTitle}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="createSubtask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
