<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Lista de Tareas </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-list *ngFor="let task of this">
      <ion-item *ngFor="let subtask of tasks.subtaskarray">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-checkbox
                slot="start"
                [(ngModel)]="subtask.isChecked"
                checked="{{subtask.isChecked}}"
                (ionChange)="check(task)"
              ></ion-checkbox>
            </ion-col>
            <ion-col>
              <p>{{subtask.title}}</p>
            </ion-col>
            <ion-col>
              <p>{{task.title}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="createTasks()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
