<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> New Task </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Task</ion-label>
      <ion-input
        class="end-side-class"
        type="text"
        [(ngModel)]="title"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea
        class="end-side-class"
        [(ngModel)]="description"
      ></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label>Schedule</ion-label>
      <ion-toggle [(ngModel)]="isScheduled"></ion-toggle>
    </ion-item>
    <ion-item disabled="{{!isScheduled}}">
      <ion-label>Start Time</ion-label>
      <ion-datetime
        [(ngModel)]="date"
        (ionChange)="do($event)"
        display-format="HH:mm"
        picker-format="HH:mm"
        hourValues="4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21"
        minuteValues="0,10,20,30,40"
      ></ion-datetime>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="createTasks()">Create</ion-button>
</ion-footer>
