<ion-header>
  <ion-toolbar>
    <ion-title>New Category</ion-title>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Category</ion-label>
      <ion-input
        class="end_side_class"
        type="text"
        [(ngModel)]="title"
      ></ion-input>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="createCategory()">Create</ion-button>
</ion-footer>
