<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Lista de Actividades </ion-title>
    <!-- <ion-button slot="end" fill="none" (click)="transformDate()">
      <ion-icon name="reload-outline" color=""></ion-icon>
    </ion-button> -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>
    <ion-list lines="full" class="row" *ngFor="let task of scheduledTasks">
      <ion-item-sliding>
        <ion-item>
          <ion-grid class="content-task">
            <ion-row class="ion-align-items-center">
              <ion-col class="start-side-class" size="6">
                  <p>{{task.title}}</p>
              </ion-col>
              <ion-col size="2">
                <p>{{task.date | date:'HH:mm'}}</p>
              </ion-col>
              <ion-col class="end-side-class" size="4">
                <ion-button (click)="openTask(task)" fill="outline">Ver</ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option (click)="delete(task)">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-grid>


  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addTasks()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
