<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lista de Gastos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-grid>
    <ion-row class="ion-align-items-center content-header">
      <ion-col size="4">
        <p> Salario {{ monthlySalary | currency:'CO':'symbol' }}</p>
      </ion-col>
      <ion-col size="4">
        <p>{{month}}</p>
      </ion-col>
      <ion-col size="4">
        <p>Total Gastos {{ totalExpensesMonthly | currency:'CO': 'symbol' }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>
<ion-content [fullscreen]="false">
    <ion-grid>
      <ion-list lines="full" *ngFor="let expense of expensesArray">
        <ion-item-sliding>
          <ion-item>
            <ion-grid class="content-task">
              <ion-row>
                <ion-col class="start-side-class" size="4">
                  <p>{{expense.name}}</p> 
                </ion-col>
                <ion-col class="center-side-class" size="4">
                    <p>{{expense.price | currency:'COP':'symbol'}}</p>
                </ion-col>
                <ion-col size="4" class="end-side-class">
                    <p>{{expense.date | date:'shortDate'}}</p>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" color="secondary" (click)="addExpenses()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
