<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismiss()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Nueva Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Tarea</ion-label>
      <ion-input
        class="end-side-class"
        type="text"
        [(ngModel)]="taskTitle"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Actividad</ion-label>
      <ion-select [(ngModel)]="activitySelected">
        <ion-select-option
          *ngFor="let activity of activityStored"
          [value]="activity.id"
          >{{activity.title}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button expand="block" (click)="createNewTask()">Crear Tarea</ion-button>
</ion-footer>
